.container{
    width:100%;
    margin:0 auto;
}
#spray_result{
    text-align: center;   
}

#upSpeed{
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
}
#downSpeed{
    margin-left:auto;
    margin-right:auto;
}
#speed{
    font-size: 2em;
    width:100%;
    text-align: center;
}

#classicContent
{
    font-family: Optima;
    line-height: 2;
    font-size: 1.3em;
    color: #090f0f;
}

.genreTag{
    font-family: Optima;
    line-height: 2;
    font-size: 1.3em;
    color: #090f0f;
}

#page0{
    /*display:none !important;   */
}
#bookShelf{
    height:100%;
    width:100%;
}
#bookShelf{
    position:absolute;
}
#daBack{
    vertical-align: middle;
    margin-left:5px;
}
.formGroupHead{
    text-align: center;   
}
.genreTag{
    text-align: center;
    font-size:2em;   
}
.author{
    text-align: left;  
}
.readTime{
    text-align: right;
}